
<form asp-action="Index" asp-controller="Admin" method="post">

        <input type="text" name="Name" value="" placeholder="Login" />
        <input type="password" name="Password" value="" placeholder="Password" />

        <input type="submit" value="Create" style="width: 25%;" />

</form>