@model HentaiSite.Models.ViewModels.BasicViewModel;

@{
    ViewData["Title"] = "Home Page";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/search.css">
}

    @section Scripts
    {
    <script src="~/js/search.js" asp-append-version="true"></script>
}


<div class="preview">

    <div class="preview-title">

        <div class="preview-text-wrap cookie-agreement">

            <p class="preview-text-big">Пользовательское соглашение</p>

            <p>
                Согласие на обработку персональных данных.
            </p>

            <p> Пользователь принимает условия настоящего Пользовательского соглашения в полном объеме путем нажатия кнопки
                подтверждения ознакомления с настоящим Пользовательским соглашением. Пользователь подтверждает свое
                ознакомление и согласие на использование файлов cookie (файлы cookie, сведения о действиях, которые я
                совершаю на сайте, сведения об используемых для этого устройствах, дата и время сессии), в т.ч. с
                использованием метрических программ Яндекс.Метрика, Google Analytics.
            </p>
            <p>
                Обработка данных осуществляется в целях улучшения работы сайта, совершенствования продуктов и услуг сервиса, определения предпочтений пользователя, предоставления целевой информации по контенту сервиса.
                Настоящее согласие действует с момента его предоставления и в течение всего периода использования сайта.
            </p>
            <p>
                В случае отказа от обработки данных метрическими программами я проинформирован о необходимости прекратить
                использование сайта или отключить файлы cookie в настройках браузера.
            </p>

        </div>

    </div>

</div>

