html, body
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #E1E1E1;
}

span, p, h1, a
{
	font-family: Arial;
}

ul li
{
	list-style-type: none;
}

ul
{
	padding: 0;
}

a
{
	text-decoration: none;
}

p
{
	margin: 0;
}

.footer
{
	background-color: #202020;
	padding: 20px;
}

.footer li
{
	display: inline-block;
	margin-right: 23px;
}

.footer li a
{
	color: white;
	font-family: Arial;
	font-weight: 600;
}

.footer-center
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-img-wrap
{
	padding: 0;
}

.header-img
{
	display: block;
}

.header-menu-wrap
{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #404040;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-menu
{
	display: flex;
	align-items: center;
}

.header-menu > div
{
	margin-right: 40px;
}

.header-menu-button
{
	text-align: center;
}

.header-menu-button span
{
	color: white;
}

.nav-img-wrap
{
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

.nav-img-wrap img
{
	position: absolute;
	top: 0;
}



@media all and (max-width: 768px)
{
	.header-menu
	{
		display: none;
	}
}


/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 12px 0 12px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 9999;
    min-width: 30% !important;
    width: 500px;
}

@media all and (max-width: 582px)
{
	#cookieConsent {
		width: 85% !important;
	}
}

#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
    display: inline-block;
    margin-top: 6px;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 20px;
    margin: -12px 0px 0 0;
    font-size: 18px;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 6px 24px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/
