@model AnimeSite.Models.ViewModels.BasicViewModel;

<!DOCTYPE html>
<html lang="ru">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C4ZY6JS59W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-C4ZY6JS59W');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(91913434, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/91913434" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @await RenderSectionAsync("Title", required: false)

    @if(!IsSectionDefined("Title"))
    {
        <title>Anifox.ru - смотреть аниме без рекламы</title>
    }

    @await RenderSectionAsync("Description", required: false)

    @if(!IsSectionDefined("Description"))
    {
        <meta name="description" content="Anifox.ru - это сайт, где вы можете посмотерть аниме без рекламы! Мы стараемся ежедневно добавлять новые аниме на сайт, заходи и смотри." />
    }

    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico" />
    <link rel="icon" type="image/ico" href="~/favicon.ico" />
    <link rel="apple-touch-icon" type="image/ico" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/style.css">

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

    @await RenderSectionAsync("Styles", required: false)


</head>
<body>

    <header>



        <div>

            <div class="header-search-wrap" id="header-search">
                <div class="header-search">
                    <form asp-action="Index" asp-controller="Home" method="get">
                        <input type="text" id="text-search" class="header-search-text" name="s" placeholder="Введите текст...">
                        <input type="submit" id="submit-search" class="header-search-button">
                    </form>
                </div>
            </div>

            <div class="header-menu-wrap">

                <a href="/">
                    <div class="header-logo-wrap">
                        <img src="~/logo.png" />
                    </div>
                </a>

                <div class="header-menu">
                    <a href="@Url.Action("Index", "Home")">
                        <div class="header-menu-button">
                            Главная
                        </div>
                    </a>

                    <a href="~/top100">
                        <div class="header-menu-button">
                            Топ-100
                        </div>
                    </a>

                    <a href="~/randompost">
                        <div class="header-menu-button">
                            Случайное аниме
                        </div>
                    </a>

                    <a href="~/adminfavorite">
                        <div class="header-menu-button">
                            Любимое админа
                        </div>
                    </a>

                    <div class="header-menu-button" id="search-btn">
                        Искать
                    </div>

                </div>

            </div>

        </div>
    </header>

    <div class="site-content">

        <div class="main-block">

            @RenderBody()

        </div>


        <div class="sub-block-wrap">
            <div class="sub-block">

                <div class="main-menu">
                    <ul>
                        <li><a href="~/alltags">Все жанры</a></li>
                        <li><a href="~/nocensure">Без цензуры</a></li>
                        <li><a href="https://vk.com/nekohub" target="_blank">Кошкодевочки</a></li>
                        <li><a href="~/donate">Пожертвовать</a></li>
                    </ul>
                </div>

                <span class="nav-title">Самые популярные теги:</span>

                <ul class="side-double-menu">
                    
                    <li>  

                        @for(int i = 0; i < Model.mostPopularTags.Count / 2; i++)
                        {
                            <a href="~/tag/@Model.mostPopularTags[i].ID">@Model.mostPopularTags[i].Name</a>
                        }

                    </li>

                    

                    <li>
                        @for(int i = Model.mostPopularTags.Count / 2; i < Model.mostPopularTags.Count; i++)
                        {
                            <a href="~/tag/@Model.mostPopularTags[i].ID">@Model.mostPopularTags[i].Name</a>
                        }
                    </li>
                </ul>

                <span class="nav-title">Поиск по годам:</span>

                <ul class="side-double-menu">
                    <li>
                        <a href="~/year/2022">2022 год</a>
                        <a href="~/year/2021">2021 год</a>
                        <a href="~/year/2020">2020 год</a>
                        <a href="~/year/2019">2019 год</a>
                    </li>
                    <li>
                        <a href="~/year/2018">2018 год</a>
                        <a href="~/year/2017">2017 год</a>
                        <a href="~/year/2016">2016 год</a>
                        <a href="~/years">Ранее...</a>
                    </li>
                </ul>

                <span class="nav-title">Самое популярное сегодня:</span>

                <div class="nav-img-block">
                    <a href="~/post/@(Model.mostPopularPostToday.ID)">
                        <div class="nav-img-wrap">
                            <img src="~/vid/thumbnail/@(Model.mostPopularPostToday.ID)-1.jpg"/>
                        </div>
                    </a>
                </div>

                <span class="nav-title">Самое популярное за неделю:</span>

                <div class="nav-img-block">
                    <a href="~/post/@(Model.mostPopularPostThisWeek.ID)">
                        <div class="nav-img-wrap">
                            <img src="~/vid/thumbnail/@(Model.mostPopularPostThisWeek.ID)-1.jpg"/>
                        </div>
                    </a>
                </div>

                <span class="nav-title">Самое популярное за все время:</span>

                <div class="nav-img-block">
                    <a href="~/post/@(Model.mostPopularPostEver.ID)">
                        <div class="nav-img-wrap">
                            <img src="~/vid/thumbnail/@(Model.mostPopularPostEver.ID)-1.jpg"/>
                        </div>
                    </a>
                </div>


            </div>
        </div>

    </div>




    <footer class="footer">
        <div class="footer-center">
            <div class="footer-logo">
                <img src="~/logo.png">
            </div>

            <div class="footer-menu">
                <ul>
                    <li><a href="~/contact_us">Сaвязаться с нами</a></li>
                    <li><a href="#">Карта сайта</a></li>
                    <li><a href="~/copyright">Правообладателям</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/js/script.js" asp-append-version="true"></script>

    <div id="cookieConsent">
        <div id="closeCookieConsent">x</div>
        Наш сайт использует cookie файлы, чтобы пользователям было удобнее. Находясь на сайте вы соглашаетесь с использованием cookie файлов. <a href="~/about_cookie" target="_blank">Узнать подробнее</a>. <a class="cookieConsentOK">That's Fine</a>
    </div>

    <script type="text/javascript" src="~/js/cookie-popup.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
