@model AnimeSite.Models.ViewModels.BasicViewModel

@section Title
{
    <title>anifox.ru - связаться с нами</title>
}


<p style="width: 90%; margin: 50px auto 0 auto;">Весь контент на сайте предоставляется для ознакомительного просмотра, если вы являетесь правообладателем пожалуйста напишите нам на почту и мы сразу удалим контент, который в потребуете. Спасибо за понимание</p>
<p style="width: 90%; margin: 0 auto 500px auto;">anifox@gmail.com - email</p>