@model AnimeSite.Models.ViewModels.YearsViewModel


@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/years.css">
}


<div class="content-list" id="posts-wrap">


    @for(int i = Model.FromYear; i < Model.ToYear; i++)
    {
        <div class="content-block">
            
            <a href="~/year/@(i)">
                <div class="content-img-wrap">
                  <span>@(i)</span>
                </div>
            </a>
        </div>
    }



</div>
