html, body
{
	margin: 0;
	padding: 0;
	
}


body
{
	background-color: #E1E1E1;
}

span, p, h1, a
{
	font-family: Arial;
}

ul li
{
	list-style-type: none;
}

ul
{
	padding: 0;
}

a
{
	text-decoration: none;
}

p
{
	margin: 0;
}

.header-logo-wrap
{
	margin-left: 10px;
}

.header-logo-wrap img
{
	height: 80px;
}


.footer
{
	background-color: #202020;
	padding: 20px;
}

.footer li
{
	display: inline-block;
	margin-right: 23px;
}

.footer li a
{
	color: white;
	font-family: Arial;
	font-weight: 600;
}

.footer-center
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-img-wrap
{
	padding: 0;
}

.header-img
{
	display: block;
}

.header-menu-wrap
{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #404040;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-menu
{
	display: flex;
	align-items: center;
}

.header-menu div
{
	margin-right: 40px;
	color: white;
	font-family: Arial;
}

.header-menu-button
{
	text-align: center;
}

.header-menu-button span
{
	color: white;
}

.nav-img-wrap
{
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

.nav-img-wrap img
{
	position: absolute;
	top: 0;
}






/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 12px 0 12px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 9999;
    min-width: 30% !important;
    width: 500px;
}



.mobile-sidemenu-btn-wrap
{
	display: none;
	position: relative;
	height: 28px;
	width: 26px;
	margin-right: 24px;
}

@media all and (max-width: 928px)
{
	.header-menu-wrap
	{
		display: flex;
		flex-direction: column;
	}

	.header-menu
	{
		margin-top: 10px;
		padding-bottom: 25px;
	}

	.header-logo-wrap
	{
		margin: 0 !important;
	}
}

@media all and (max-width: 768px)
{

	.header-menu-button
	{
		margin-right: 30px !important;
	}

	.header-menu-button:last-child
	{
		margin-right: 0 !important;
	}

	.mobile-sidemenu-btn-wrap
	{
		display: block !important;
	}

	.header-search-wrap
	{
		display: none !important;
	}

	.mobile-sidemenu-btn-wrap
	{
		display: block !important;
	}

	.sub-block-wrap
	{
		display: none !important;
	}

	.main-block
	{
		width: 97% !important;
	}
}

@media all and (max-width: 732px)
{
	.footer-menu ul
	{
		display: flex;
		flex-direction: column;
	}
	.footer-menu li
	{
		margin-top: 20px;
	}

	.footer
	{
		padding: 7px 20px !important;
	}
}

@media all and (max-width: 582px)
{
	#cookieConsent {
		width: 85% !important;
	}

	.rating-form button
	{
		padding: 4px 12px;
	}

	#minusButton
	{
		margin-left: 14px;
		padding: 4px 13px;
	}

	.header-menu
	{
		flex-direction: column;
	}

	.header-menu-button
	{
		margin-top: 26px;
		margin-right: 0 !important;
	}

	.header-menu-button:first-child
	{
		margin-top: 0;
	}

	.content-sort
	{
		flex-wrap: wrap;
		justify-content: center;
	}

	.content-sort a
	{
		margin-top: 17px;
		margin-bottom: 17px;
		width: 50%;
		text-align: center;
	}

}

@media all and (max-width: 406px)
{
	.footer-menu ul
	{
		align-items: center;
	}

	.footer-center
	{
		display: flex;
		flex-direction: column;
		justify-content: center !important;
	}

	
}

.menu__btn,
.menu__btn::before,
.menu__btn::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: white;
}
.menu__btn::before {
  content: '';
  top: 20px;
  left: 0;
}
.menu__btn::after {
  content: '';
  top: 10px;
  left: 0;
}

.mobile-sidemenu-wrap
{
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.35);
}

.mobile-sidemenu
{
	position: absolute;
	background-color: white;
	width: 30%;
	height: 100%;
}

.mobile-sidemenu-list
{
	margin-top: 25px;
	display: flex;
	flex-direction: column;
}

.mobile-sidemenu-list li
{
	font-family: Arial;
	font-weight: 600;
	margin-top: 35px;
	position: relative;
	width: 100%;
	text-align: center;
}

.mobile-sidemenu-list li:after
{
	content: '';
	position: absolute;
	top: 20px;
	left: 10%;
	height: 1px;
	width: 80%;
	background-color: #000;
}

.mobile-sidemenu-visible
{
	display: block !important;
}

.mobile-close-sidemenu
{
	margin-top: 15px;
	margin-left: 15px;
	width: 40px;
	height: 40px;
}

.mobile-close-sidemenu span
{
	position: relative;
	width: 40px;
	height: 40px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-close-sidemenu span::before,
.mobile-close-sidemenu span::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px; /* cross thickness */
    background-color: black;
}

.mobile-close-sidemenu span::before {
    transform: rotate(45deg);
}

.mobile-close-sidemenu span::after {
    transform: rotate(-45deg);
}

#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
    display: inline-block;
    margin-top: 6px;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 20px;
    margin: -12px 0px 0 0;
    font-size: 18px;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 6px 24px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/

.footer-logo img
{
	height: 64px;
	display: block;
}